<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <img src = "Images/stock-vector-colorful-stadium-with-a-crowd-vector-illustration-459791332.jpg">
    <div class="cont">
        <h1>About our Academy</h1>
        <p>Our Academy is one of the Best Academies of India.Here, We encourage you to practice hard and to work hard,
        so that you can show your talent to whole world in the future.To become a good sportsman,you need to be fit and healthy.
        So we also help you to become fit and healthy by teaching various types of exercises.So if you want to becomea good cricketer and want to 
        play for your country,then what are you waiting for?Please join our academy to fly.
        </p>
    </div>
</body>
</html>