<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="about.css">
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
</head>
<body>
    <img src = "Images/stock-vector-colorful-stadium-with-a-crowd-vector-illustration-459791332.jpg">
    <div class="cont1">
    <h1>For Further Queries,Contact:-</h1>
    <p>Priyam Saxena-6379076631</p>
    <p>Shrestha Saxena-8765199183</p>
    </div>
</body>
</html>