<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Academy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
</head>
<body>
    <div class="nav">
        <img src="Images/1200px-Hindustan_Aeronautics_Limited_Logo.svg-1024x422.png">
        <a href = "/about" target="_blank">About Us</a>
        <a href = "/inst" target="_blank">Instructors</a>
        <a href = "/contact" target="_blank">Contact Us</a>
        <a href = "/logout">Log out</a>
    </div>
    <div class="welcome">
        <h1>Hi {{name}}!</h1>
<h1>Welcome to Korwa Cricket Academy</h1>
<p>Enjoy the Cricket and Chase your Dreams.</p>
    </div>
    <div class="miss">
    <h2>Our Motive</h2>
    <div class="col">
    <div class="slice">
        <img src = "Images/kisspng-indian-premier-league-india-national-cricket-team-cricket-5ac5b15c5b27d9.4953427415229054363734.jpg">
    <i>To Develop the Talent and the skills with correct techniques.</i>
    </div>
    <div class="slice">
        <img src = "Images/204-2045404_cricket-cricket-player-icons-png-clipart.png">
        <i>To Prepare you for the National and International tournament.</i>
    </div>
    <div class="slice">
        <img src = "Images/82663702-9e43a380-9c49-11ea-8898-77f50d56116f.png">
        <i>To make you the Best Cricket Player of India.</i>
    </div>
    <div class="slice">
        <img src = "Images/kisspng-india-national-cricket-team-indian-premier-league-5b114bfe037510.4156615815278602220142.jpg">
        <i>To make you the best cricket player of India.</i>
    </div>
    <div class="slice">
        <img src = "Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
        <i>To make you the best cricket player of India.</i>
    </div>
</div>
<h3>Want to Register?Click <a href="/register">Here</a></h3>
    </div>
    <div class="title">
        <p>Hi!.I am Rudransh Singh,Head of this Cricket Academy.I am very privileged to welcome you in the academy.
            I hope you will enjoy practising and playing. Please register through the above link.
        </p>
        <p>Special Thanks to all the H.A.L. Committee Members.</p>
        <div class="help">

        </div>
    </div>
    <div class="foot">
        <b>Copyright @ 2020 Korwa Cricket Academy.com | All rights reserved</b>
    </div>
</body>
</html>