<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructors</title>
    <link rel="stylesheet" href="inst.css">
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
</head>
<body>
    <img src = "Images/stock-vector-colorful-stadium-with-a-crowd-vector-illustration-459791332.jpg">
    <div class="cont">
    <h1>Meet Our Head Coaches</h1>
    <div class="sub">
        <img src="Images/main-qimg-c39e5292cb039fa4a0876f9ad11b50fc.jpg">
        <img src="Images/zaheerkhan1570611620813.jpg">
    </div>
    <div class="names">
        <b>Rahul Dravid</b>
        <b>Zaheer Khan</b>
    </div>
    <div class="quote">
     <b>You Don't play for revenge,You play for respect and pride.</b>
     <b>-Rahul Dravid</b>
    </div>
    </div>
</body>
</html>