<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <img src = "Images/stock-vector-easy-to-edit-vector-illustration-of-player-in-abstract-cricket-championship-background-629830955.jpg">
    <div class="cont">
        <h1>Log in</h1>
        <form action="/get",method="get">
            <div>
            <label for = "email"><p>Email:</p></label>
            <input type = "email" placeholder="Enter your email" id="email" name="email">
            </div>
            <div>
            <label for = "pass"><p>Password:</p></label>
            <input type = "password" placeholder="Enter your password" id="pass" name="password">
            </div>
            <button>Log in</button>
            <p>Want to Create Account?<a href="/signup">Sign Up</a></p>
        </form>
    </div>
</body>
</html>