<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for registration</title>
    <link rel="stylesheet" href="thanku.css">
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
</head>
<body>
    <div class="cont">
        <h1>Thanks for the registration.</h1>
        <p>Important details will be mailed to you on your mailid.</p>
        <p>For further queries,Contact-<a href="/contact">Here</a></p>
        <p>Want to Log Out?Click-<a href="/logout">Here</a></p>
    </div>
</body>
</html>